<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<div class="borderForGame">

    <h2>Category - Movie</h2>
    <p class="para">Max 10 Wrong Guesses</p>
    <h2> Guess any letter for the word </h2>
<div class="form">
<form action="/mixedWord" method="POST">
    <input type="text" class="input" name="c" size="10">
    <input type="submit" class="button" value="Enter">
</form>
    <p th:text="${word}"></p>
    <p class="para">Count of wrong guess: <span th:text="${guessCount}"></span></p>
</div>
</div>
</body>
</html>